
<footer class="main-footer" ng-controller="FooterController">
	<div class="pull-right hidden-xs">
		<b>{{version}}</b>
	</div>
	<strong>Copyright &copy;<b>{{copyrightYear}}</b> </strong> All rights reserved.
</footer>