<!-- search form -->

<form method="get" class="sidebar-form"
	ng-controller="SearchController" ng-submit="submitSearch()">
	
	<div class="input-group">
		<input ng-model="question.question" ng-focus="searchFocus()" type="text" name="q"
			class="form-control" placeholder="Ask Nexus......"> 
	</div>
	<ul ng-hide="searchClicked">
		<li>How to build a <b>website</b></li>
		<li>Is <b>Big Boss</b> scripted</li>
		<li>How does an <b>airconditoner</b> work</li>
		<li>How does a spaceship fly in vacuum</li>
		<li class="last">Is <b>Big Boss</b> scripted</li>
		<li class="header"><b>Ask you question on Nexus</b>
			<button type="submit"  name="search" id="search-btn"
				class="btn btn-flat pull-right">
				Ask
			</button>
		</li>
		<li class="check">
			<input type="checkbox" ng-click="showDescription()"/>
			<span>Add description to your question</span>
		</li>
	</ul>
	<ul class="description-clicked"	ng-hide="descriptionClicked">
		<li>
			<textarea rows="2" cols="" ng-model="question.description"></textarea>
		</li>
	</ul>
</form>

