@CHARSET "ISO-8859-1";
.sidebar-menu .header{
	border-bottom: 2px solid #ECF0F5;
}
.sidebar-menu .header a{
	display: inline;
	float:right;
	padding : 0px;
	font-weight: 500;
}
.nexus-search form{
	background-color: #FFF;
}
.nexus-search .input-group{
	width : 100%;
}

.input-group input{
	border-bottom-color: #ddd;
}
.nexus-search ul{
	list-style: none;
	padding: 5px 0px 0px 0px !important;

}
.nexus-search ul li{
	border-bottom: 1px solid #ddd;	
	color: #666;
	padding: 5px 12px;
}
.nexus-search ul .last{
	border-bottom: none;
}

.nexus-search ul .header{
	background-color: #ECF0F5;
	color: #000;
	padding : 10px 12px;
	
}
.nexus-search ul li #search-btn{
	height : 25px;
	padding-top: 0px !important;
	background-color: #3C8DBC;
	color: #FFF;
}
li.check{
	border-bottom: 0px solid #FFF!important;
}
.nexus-search .description-clicked{
	background-color : #ECF0F5
}
.nexus-search textarea{
	width:100%;
	
}
