<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<ul class="sidebar-menu">
				<li class="header"><b>RELATED QUESTIONS</b></li>
				<li class="treeview" ng-repeat="question in questions"><a href="#/questions/{{question.id}}">
						<span>{{question.question}}</span>
				</a></li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>




</body>
</html>