
{{story.name}}<ul class="sidebar-menu" ng-controller="TopStoriesController">
	<li class="header"><b>FEEDS</b> <a href="#">edit</a></li>
	<li class="treeview active"><a href="#"><span>Top Stories</span></a></li>
	<li class="treeview" ng-repeat="story in stories"><a href="#">
			<span>{{story.name}}</span>
	</a></li>
	<li class="header"><b>TRENDING NOW</b></li>
	<li class="treeview" ng-repeat="trend in trends"><a href="#">
			<span>{{trend}}</span>
	</a></li>

</ul>